:root {
  --primary: #E2B166;
  --primary-gradient: linear-gradient(7deg, #FFFFFF -125%, #E2B166 100%)
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  height: 100px;
  background: var(--primary-gradient);
  border-bottom: 2px solid black;
  width: 100%;
}

/* .display-area {
  border: 1px solid black;
  border-radius: 5px;
} */

.weather-display-section {
  visibility: hidden;
  background-color: #F8F9FA;
  border-radius: 10px;
}

button {
  display: block;
}